<div class="row">
<div class="col-sm-12 text-center">
	<br />
	<img src="images/preloader.gif" alt="Waiting for next game..." />
	<p>Hold, please - a game is currently in progress.</p>
	<p>You'll be included in the next round.</p>
	<br />
</div>
</div>