<div class="home-intro">
</div>
<div class="home">

</div>
<div style="clear: both" />
<div class="row col-condensed" class="">
    <div class="col-sm-6 text-center">
        <h1>+</h1>
    </div>
    <div class="col-sm-6 text-center">
        <h1>-</h1>
    </div>
     <div class="col-sm-12 text-center">
        <a class="btn btn-play btn-play-lg btn-lg" href="#game">Let's Play</a>
    </div>
    <div class="col-sm-6 text-center">
        <h1>/</h1>
    </div>
    <div class="col-sm-6 text-center">
        <h1>X</h1>
    </div>
</div>
